@model Clinica.Models.ConsultaExame

@{
    ViewBag.Title = "DetalheExame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Exame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exame.Descricao)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DataLiberacaoExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLiberacaoExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laudo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "ConsultarResultado")
</p>
